<form id="addItem">
    <div class="mb-3">
        <label for="item" class="form-label">Producto</label>
        <input type="text" class="form-control" id="item" name="item" />
    </div>
    <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input type="text" class="form-control" id="precio" name="precio" />
    </div>
    <div class="mb-3">
        <label for="cantidad" class="form-label">Cantidad</label>
        <input type="text" class="form-control" id="cantidad" name="cantidad" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>