<form id="containerMsj">
    <div class="mb-3">
        <input type="email" class="form-control" id="email" placeholder="Ingresar Email" />
    </div>
    <div id="containerMsjs"></div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ingresar mensaje...</label>
        <textarea class="form-control" id="mensaje" rows="3"></textarea>
    </div>
    <button type="submit" id="sendMsj">Enviar</button>
</form>